# Workflow GitHub Actions - Build e Deploy de Node.js app no Azure Web App
# Autor: Sergio Mendes

name: Build and deploy Node.js app to Azure Web App - projetoDemo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read # Isso é necessário para actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Build Node.js app (production)
        run: npm run build --if-present

      - name: Run tests (se presentes)
        run: npm run test --if-present

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # Isso é necessário para solicitar o JWT
      contents: read # Isso é necessário para actions/checkout

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BD75A4E7461C48418C7AFB23994F732C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_44965642DAC24A80BF18265669CD105B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_ABC030A2DE4C43758AEF4D7D0BEB7FF5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'projetoDemo'
          slot-name: 'Production'
          package: .
